<mat-vertical-stepper class="custom-bg" style="color: #dfe6e9;    background-color: #222f3e;">
  <mat-step label="Gênero" >
	<div class="container">

		<div class="row">
			<p>Estou procurando um(a):</p>
		</div>

		<div class="radio">
			<label class="radio-inline field-gray">
				<input type="radio"  name="genderRadios" id="genderRadios1" (click)="setGender('MASC.')"> Candidato
			</label> 
		</div>

		<div class="radio">
			<label class="radio-inline field-gray">
				<input type="radio"	 name="genderRadios" id="genderRadios2" (click)="setGender('FEM.')"> Candidata
			</label> 
		</div>
		
		<div class="radio">
			<label class="radio-inline field-gray">
				<input type="radio"  name="genderRadios" id="genderRadios3" (click)="setGender(null)"> Indiferente
			</label> 
		</div>
	</div>

  </mat-step>

	<mat-step label="Cor/raça">

		<div class="container">
			<div class="row">
					<p>Meu candidato(a) deve ser da cor/raça:</p>
				</div>
		
				<div class="radio">
					<label class="radio-inline field-gray">
						<input type="radio"  name="raceRadios" id="raceRadios1" (click)="setRace('AMARELA')"> Amarela
					</label> 
				</div>
		
				<div class="radio">
					<label class="radio-inline field-gray">
						<input type="radio" name="raceRadios" id="raceRadios2" (click)="setRace('BRANCA')"> Branca
					</label> 
				</div>
				
				<div class="radio">
					<label class="radio-inline field-gray">
						<input type="radio" name="raceRadios" id="raceRadios3" (click)="setRace('PARDA')" value="option1"> Parda
					</label> 
				</div>
		
				<div class="radio">
					<label class="radio-inline field-gray">
						<input type="radio" name="raceRadios" id="raceRadios4" (click)="setRace('PRETA')" value="option1"> Preta
					</label> 
				</div>
		
				<div class="radio">
					<label class="radio-inline field-gray">
						<input type="radio" name="raceRadios" id="raceRadios5"  (click)="setRace(null)" value="option1"> Indiferente
					</label> 
				</div>
		</div>

	</mat-step>

  <mat-step label="Escolaridade">

		<div class="container">
				<div class="row">
					<p>Meu candidato deve ter:</p>
				</div>
			
				<div class="radio">
					<label class="radio-inline">
						<input type="radio"  name="educationRadios" id="educationRadios1" (click)="setEducation(1)"> ENSINO FUNDAMENTAL
					</label> 
				</div>

				<div class="radio">
					<label class="radio-inline">
						<input type="radio"  name="educationRadios" id="educationRadios2" (click)="setEducation(3)"> ENSINO MÉDIO
					</label> 
				</div>

				<div class="radio">
					<label class="radio-inline">
						<input type="radio"  name="educationRadios" id="educationRadios3" (click)="setEducation(5)"> ENSINO SUPERIOR
					</label> 
				</div>

				<div class="radio">
					<label class="radio-inline">
						<input type="radio"  name="educationRadios" id="educationRadios3" (click)="setEducation(null)"> INDIFERENTE
					</label> 
				</div>
				
		</div>	
	
  </mat-step>

  <mat-step label="Carreira política">
	  <span class="badge badge-pill badge-warning">Em Breve!</span>    
  </mat-step>
</mat-vertical-stepper>