<mat-vertical-stepper class="custom-bg">
  <mat-step label="Gênero" >
	<div class="container">

		<div class="row">
			<p>Qual você prefere?</p>
		</div>

		<div class="radio">
			<label class="radio-inline">
				<input type="radio"  name="genderRadios" id="genderRadios1" (click)="setGender('MASC.')"> HOMEM
			</label> 
		</div>

		<div class="radio">
			<label class="radio-inline">
				<input type="radio"	 name="genderRadios" id="genderRadios2" (click)="setGender('FEM.')"> MULHER
			</label> 
		</div>
		
		<div class="radio">
			<label class="radio-inline">
				<input type="radio"  name="genderRadios" id="genderRadios3" (click)="setGender(null)"> INDIFERENTE
			</label> 
		</div>
	</div>

  </mat-step>

	<mat-step label="Cor/raça">

		<div class="container">
			<div class="row">
					<p>Qual você prefere?</p>
				</div>
		
				<div class="radio">
					<label class="radio-inline">
						<input type="radio"  name="raceRadios" id="raceRadios1" (click)="setRace('AMARELA')"> AMARELA
					</label> 
				</div>
		
				<div class="radio">
					<label class="radio-inline">
						<input type="radio" name="raceRadios" id="raceRadios2" (click)="setRace('BRANCA')"> BRANCA
					</label> 
				</div>
				
				<div class="radio">
					<label class="radio-inline">
						<input type="radio" name="raceRadios" id="raceRadios3" (click)="setRace('PARDA')" value="option1"> PARDA
					</label> 
				</div>
		
				<div class="radio">
					<label class="radio-inline">
						<input type="radio" name="raceRadios" id="raceRadios4" (click)="setRace('PRETA')" value="option1"> PRETA
					</label> 
				</div>
		
				<div class="radio">
					<label class="radio-inline">
						<input type="radio" name="raceRadios" id="raceRadios5"  (click)="setRace(null)" value="option1"> INDIFERENTE
					</label> 
				</div>
		</div>

	</mat-step>

  <mat-step label="Escolaridade">

		<div class="container">
				<div class="row">
					<p>Qual você prefere?</p>
				</div>
			
				<div class="radio">
					<label class="radio-inline">
						<input type="radio"  name="educationRadios" id="educationRadios1" (click)="setEducation(1)"> ENSINO FUNDAMENTAL
					</label> 
				</div>

				<div class="radio">
					<label class="radio-inline">
						<input type="radio"  name="educationRadios" id="educationRadios2" (click)="setEducation(3)"> ENSINO MÉDIO
					</label> 
				</div>

				<div class="radio">
					<label class="radio-inline">
						<input type="radio"  name="educationRadios" id="educationRadios3" (click)="setEducation(5)"> ENSINO SUPERIOR
					</label> 
				</div>

				<div class="radio">
					<label class="radio-inline">
						<input type="radio"  name="educationRadios" id="educationRadios3" (click)="setEducation(null)"> INDIFERENTE
					</label> 
				</div>
				
		</div>	
	
  </mat-step>

  <!-- <mat-step label="Carreira política">
    
  </mat-step> -->
</mat-vertical-stepper>