<mat-vertical-stepper class="custom-bg" style="color: #dfe6e9;    background-color: #222f3e;">
  <mat-step label="Gênero" >
	<div class="container">

		<div class="row">
			<p>Estou procurando um(a):</p>
		</div>

		<div class="radio">
			<label class="radio-inline field-gray">
				<input type="radio"  name="genderRadios" id="genderRadios1" (click)="setGender('MASC.')"> CANDIDATO
			</label> 
		</div>

		<div class="radio">
			<label class="radio-inline field-gray">
				<input type="radio"	 name="genderRadios" id="genderRadios2" (click)="setGender('FEM.')"> CANDIDATA
			</label> 
		</div>
		
		<div class="radio">
			<label class="radio-inline field-gray">
				<input type="radio"  name="genderRadios" id="genderRadios3" (click)="setGender(null)"> INDIFERENTE
			</label> 
		</div>
	</div>

  </mat-step>

	<mat-step label="Cor/raça">

		<div class="container">
			<div class="row">
					<p>Meu candidato(a) deve ser da cor/raça:</p>
				</div>
		
				<div class="radio">
					<label class="radio-inline field-gray">
						<input type="radio"  name="raceRadios" id="raceRadios1" (click)="setRace('AMARELA')"> AMARELA
					</label> 
				</div>
		
				<div class="radio">
					<label class="radio-inline field-gray">
						<input type="radio" name="raceRadios" id="raceRadios2" (click)="setRace('BRANCA')"> BRANCA
					</label> 
				</div>
				
				<div class="radio">
					<label class="radio-inline field-gray">
						<input type="radio" name="raceRadios" id="raceRadios3" (click)="setRace('PARDA')" value="option1"> PARDA
					</label> 
				</div>
		
				<div class="radio">
					<label class="radio-inline field-gray">
						<input type="radio" name="raceRadios" id="raceRadios4" (click)="setRace('PRETA')" value="option1"> PRETA
					</label> 
				</div>
		
				<div class="radio">
					<label class="radio-inline field-gray">
						<input type="radio" name="raceRadios" id="raceRadios5"  (click)="setRace(null)" value="option1"> INDIFERENTE
					</label> 
				</div>
		</div>

	</mat-step>

  <mat-step label="Escolaridade">
	
  </mat-step>

  <mat-step label="Carreira política">
    
  </mat-step>
</mat-vertical-stepper>