<div class="container">
<h2 class="details-info row justify-content-center mt-2" >{{(candidates | filterCandidates : filter).length}} candidatos encontrados</h2>
  <div class="row">

      <div class="card m-4" *ngFor="let candidate of candidates | filterCandidates : filter">
          <img class="card-img-top" src="{{ candidate.Foto_Url }}" alt="Card image cap">
          <div class="card-body">
            <p class="card-title"><a href="{{'/perfil/' + candidate?.ID }}">{{ this.titleCasePipe.transform(candidate.Nome_urna) }}</a></p>
            <p class="card-text">{{ candidate.Sigla }} - PB</p>
          </div>
        </div>

  </div>

</div>