<div class="container-fluid h-100">

  <div class="row h-50 justify-content-center align-items-end">
    <div class="logo-container">
        <img src="../assets/logo.png" class="logo">
    </div>
  </div>

  <div class="row justify-content-center h-50">
    <div class="col-auto w-50">
        <div class="card h-75">
            <div class="card-body">
              escolher meu candidato

              <div class="input-group mb-3 w-50">
                  <input type="text" class="form-control" placeholder="digite um nome" aria-label="Pesquise pelo nome do candidato" aria-describedby="basic-addon1">

                  <div class="input-group-append">
                      <button type="button" class="btn btn-secondary">
                        <span class="material-icons">
                          search
                        </span>
                      </button>
                    </div>
              </div>
            </div>
          </div>
    </div>

    <div class="col-auto w-50">
        <div class="card h-75">
            <div class="card-body">
              me ajude a escolher
         
            </div>
          </div>
    </div>
  
  </div>
  
</div>