@import "node_modules/bootstrap-material-design/scss/bootstrap-material-design";
@import '~@angular/material/prebuilt-themes/purple-green.css';


.kitchen-sink-drawer-static {
    $custom-size: 500px;
    @include bmd-drawer-x-out($custom-size); // closed by default
    @include bmd-drawer-x-in($custom-size); // triggered with bmd-drawer-in
    @include bmd-drawer-x-overlay(); // overlay by default, no other classes necessary
  }
.custom-bg{
    background-color: white;
}

.button-row button,
.button-row a {
  margin-right: 6px;
}

.logo{
  heigth: 200px;
  width: 200px;
  margin-top: 10px;
}

.line {
  background-color: black;
  heigth: 2px;
  width: 300px;
}

.custom-tx{
  text-align: end;
  margin-top: -15px;
}

.kitchen-sink-drawer {
    $custom-size: 500px;
    @include bmd-drawer-x-out($custom-size);
    &:not(.bmd-drawer-out) {
      @each $breakpoint in map-keys($grid-breakpoints) {
        @include bmd-drawer-x-in-up($custom-size, $breakpoint);
      }
   }
}
