<div class="bmd-layout-container bmd-drawer-f-l kitchen-sink-drawer">
    <header class="bmd-layout-header">
      <div class="bg-faded">
        <button class="navbar-toggler" type="button" data-toggle="drawer" data-target="#dw-s1">
          <span class="sr-only">Toggle drawer</span>
          <i class="material-icons">filter_list</i>
        </button>
   
      </div>
    </header>
    <div id="dw-s1" class="bmd-layout-drawer bg-faded custom-bg">
      <div class="row offset-1 justify-content">
        <div class="logo-container">
            <img src="../assets/topo.png" class="logo">
        </div>
      </div>
      <div><hr></div>
      <div class="custom-tx offset-1">
        <p style="color: gray">Eleições 2018&nbsp;</p>
      </div>
      <div>
        <app-filter
        (filterChange)="changeFilter($event)"
        ></app-filter>
      </div>
      
    </div>
    <main class="bmd-layout-content">
      <div class="container">
        <app-candidates-list
        [filter]="filter"
        ></app-candidates-list>
      </div>
    </main>
  </div> 