<div class="bmd-layout-container bmd-drawer-f-l kitchen-sink-drawer">
    <header class="bmd-layout-header">
      <div class="bg-faded">
        <button class="navbar-toggler" type="button" data-toggle="drawer" data-target="#dw-s1">
          <span class="sr-only">Toggle drawer</span>
          <i class="material-icons">menu</i>
        </button>
   
      </div>
    </header>
    <div id="dw-s1" class="bmd-layout-drawer bg-faded">
      <header>
        <a class="navbar-brand">Title</a>
      </header>
      
    </div>
    <main class="bmd-layout-content">
      <div class="container">
        <p>Main content</p>
      </div>
    </main>
  </div>