<div class="container my-5">
  <div class="header">
    <div class="photo row justify-content-center">
      <img src="https://via.placeholder.com/150x150">
    </div>
    <div class="details-area">
      <div class="row justify-content-center">
        <h3 class="detail-name">fulano de tal</h3>
      </div>
      <div class="details-info row justify-content-center">
        <div class="col-10 col-md-5">
          <p class="details-item">Aaaaaaaa</p>
          <p class="details-item">Aaaaaaaa</p>
          <p class="details-item">Aaaaaaaa</p>
        </div>
        <div class="col-10 col-md-5">
          <p class="details-item">Aaaaaaaa</p>
          <p class="details-item">Aaaaaaaa</p>
          <p class="details-item">Aaaaaaaa</p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="activity">
    <div class="row justify-content-center">
      <div class="propositions col-10 col-md-5">
        <h4>Atuação</h4>
        <p><span class="propositions-count">X</span> proposições criadas</p>
      </div>
      <div class="contact col-10 col-md-5">
        <h4>Contato</h4>
        <p>email@email.com</p>
        <p>(50) 89745-8965</p>
      </div>
    </div>
  </div>

  <div class="vis-panel row justify-content-center">
    <div class="col-10 col-md-5">
      <h4>Visualizações</h4>
      <div class="vis"><img src="https://via.placeholder.com/640x400"></div>
      <div class="vis"><img src="https://via.placeholder.com/640x400"></div>
      <div class="vis"><img src="https://via.placeholder.com/640x400"></div>
    </div>
  </div>

</div>
